body {
    background-color: lightblue;
    border: 5px solid red;
    padding: 10px;
    width: 30%;
}

.bold {
    font-weight: bold;
}

.gray {
    color: gray;
}

.image {
    padding: 5px;
    border: 2px solid red;
}

.image:hover {
    transform: scale(1.05);
}

hr {
    border-color: red;
    background-color: red;
}

.title {
    color: yellow;
    text-decoration: underline;
}

.name {
    color: yellow;
}