<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/boogle.css">
        <script src="https://kit.fontawesome.com/24a96377a1.js" crossorigin="anonymous"></script>
        <title>Boogle</title>
    </head>
    <body>
    <div class="container">
        <div class="user-container">
            <span class="text-black text"><a href="gmail.html" class="gmail">Gmail</a></span>
            <span class="text-black text">Images</span>
            <div class="more-apps">

            </div>
            <div class="profile-pic">
                J
            </div>
        </div>
        <div class="main">
            <div class="boogle">
                <img src="https://storage.googleapis.com/smartninja/boogle-1614873832.jpeg">
                <div class="search-field">
                    <i class="fa-solid fa-magnifying-glass icon"></i>
                    <input class="search" type="text">
                </div>
                <div>
                    <button class="button">Boogle Search</button>
                    <button class="button">I'm Felling Lucky</button>
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <div class="bottom-up">
                Slovenia
            </div>
        </div>
        <div class="bottom-container">
            <div class="bottom-left">
                <a href="#" class="bottom-menu">About</a>
                <a href="#" class="bottom-menu">Advertising</a>
                <a href="#" class="bottom-menu">Business</a>
                <a href="#" class="bottom-menu">How Search works</a>
            </div>
            <div class="bottom-right">
                <a href="#" class="bottom-menu">Privacy</a>
                <a href="#" class="bottom-menu">Terms</a>
                <a href="#" class="bottom-menu">Settings</a>
            </div>
        </div>

    </div>
    </body>
</html>