body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
}

.text-black {
    color: black;
    padding-right: 20px;
    text-decoration: none;
}

.gmail {
    text-decoration: none;
    color: black;
}

.bottom-container {
    height: 44px;
    background-color: #F1F1F1;
    border-bottom: 1px solid #DFDFDF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-up {
    padding-left: 30px;
    color: #797979;
}

.bottom-right {
    padding-right: 30px;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}

.bottom-left {
    padding-left: 30px;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.text {
    margin-right: 8px;
}

.text:hover {
    text-decoration-line: underline;
}

.profile-pic {
    color: white;
    background-color: blue;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 20px;
}

.profile-pic:hover {
    border: 3px solid lightgray;
    box-sizing: border-box;
}

.more-apps {
    background-color: black;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    margin-right: 16px;
}

.more-apps:hover {
    border: 1px solid lightgray;
    box-sizing: border-box;
}

img {
    width: 300px;
}

.boogle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search {
    width: 600px;
    height: 45px;
    border: 2px solid #EAEAEA;
    border-radius: 50px;
    padding-left: 30px;
}

.icon {
    color: #797979;
    padding-top: 17px;
    padding-left: 10px;
}

.search-field {
    margin: 30px;
}

.search-field i {
    position: absolute;
}

.button {
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    background-color: #F9F9F9;
}

.button:hover {
    border: 1px solid lightgray;
}

.bottom-menu {
    color: #797979;
    text-decoration: none;
}

.bottom-menu:hover {
    text-decoration-line: underline;
}