<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Jaka">
        <link rel="stylesheet" href="/static/css/fakebook/style.css">
        <title>Jaka | Fakebook</title>
    </head>

    <body>

        <h1 class="title"><i>FAKEBOOK</i></h1>
        <p>
            Search: <input type="text" placeholder="Search by name">
        </p>
        <h2 class="name">Jaka </h2>
        <img class="image" src="https://www.ikea.com/si/sl/images/products/bjoerksta-slika-mona-lisa__0809958_pe771199_s5.jpg" width="250px" height="250px">
        <br>
        <button>Add a friend</button>
        <br>

        <hr>

        <p>
            <span class="bold">City: </span>
            <span class="gray">Metlika</span>
        </p>
        <p>
            <span class="bold">Age: </span>
            <span class="gray">30-</span>
        </p>
        <p>
            <span class="bold">Education: </span>
            <span class="gray">Ninja University</span>
        </p>
        <p>
            <span class="bold">Hobby: </span>
            <span class="gray">Football</span>
        </p>
        <p>
            <span class="bold">Fb friends: </span>
            <span class="gray">2</span>
        </p>
        <p>
            <span class="bold">Fb enemies: </span>
            <span class="gray">0</span>
        </p>

    </body>


</html>