<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Portfolio</title>
    </head>

    <body>
        <img src="/static/img/Swag-Is-For-Boys-Class-Is-For-Men-Facebook-Cover-For-Timeline.jpg">
        <br><br>
        <h2>Pages that i created!</h2>
        <a href="/portfolio/fakebook">Fakebook</a>
        <a href="/portfolio/boogle">Boogle</a>
        <a href="/portfolio/hairsalon">Hair salon</a>
        <br><br>
        <a href="/">Home</a>
        <a href="/aboutme">About me</a>
    </body>
</html>